<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a routerLink="/" class="navbar-brand" >Plovo</a>

  <div class=" navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active"
        >Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dishes" class="nav-link" routerLinkActive="active" >Manage dishes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dishes/new" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">New dish</a>
      </li>

    </ul>
  </div>
</nav>
