<h4>Cart</h4>
<ng-container *ngIf="cartItems.length > 0; else emptyCart">
  <app-cart-item *ngFor="let cartItem of cartItems"
                 [cartItem] = "cartItem"
  ></app-cart-item>
  <div class="card border-0 p-2">
    <div class="row">
      <div class="col text-right">
        Total:
      </div>
      <div class="col-4 text-right">
        <strong>{{ getTotalPrice() }}</strong> сом.
      </div>
    </div>
    <div class="row p-2">
      <button class="btn btn-primary btn-block"
              (click)="openCheckoutModal()"
              appShadowHover = "shadow-sm"
      >Order</button>
    </div>
  </div>
</ng-container>
<ng-template #emptyCart>
  <div class="alert alert-primary">
    Cart is empty. Please add some items!
  </div>
</ng-template>
<app-modal
  title="Go to checkout?"
  [isOpen]="modalOpen"
  (close)="closeCheckOutModal()"
>
  <div class="modal-body">
   <h3>Order preview</h3>
    <p>You are about to order for a total of:
    <strong>{{getTotalPrice()}} KGS </strong></p>
    <p>Do you want to continue?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckOutModal()">Cancel</button>
    <button class="btn btn-success" (click)="continue()">Continue</button>
  </div>

</app-modal>

