<div class="roe mt-2">
  <div class="col">
    <h4>Dish details</h4>
    <h5>{{ dish.name}}</h5>
    <img class="img-fluid" [src]="dish.imageUrl" alt="{{ dish.name }}"/>
    <p>{{ dish.description }}</p>
    <p>Price: <strong>{{ dish.price }}</strong> </p>
    <hr>
    <p>Manage dish:</p>
    <button class="btn btn-secondary">Edit</button> &nbsp;
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
