<div class="row mt-2">
  <div class="col">
    <h4>  Manage dishes</h4>
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a *ngFor="let dish of dishes"
         class="list-group-item list-group-item-action"
         [routerLink]="[dish.id]"
         routerLinkActive="active"
      >{{ dish.name }}</a>
    </div>
  </div>
  <ng-template #loading>
    <span class="spinner-border">
      <span class="sr-only">Loading ...</span>
    </span>
  </ng-template>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
