<h4>Dishes</h4>
<ng-container *ngIf="!loading; else loadingSpinner">
<app-dish-item *ngFor="let dish of dishes"
                [dish] = "dish"
></app-dish-item>
</ng-container>
<ng-template #loadingSpinner>
  <div *ngIf="loading" class="spinner-border">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

